<% content_for :meta_title, " #{DEFAULT_META["meta_title"]}  | Coding Turn Dream Into Reality " %>

    <div class="pagepiling">
      <div data-anchor="page1" class="pp-scrollable text-white section section-1">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/main.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row">
                        <div class="col-md-8 col-lg-6">           
                          <h1 class="display-2 text-white  wow fadeIn" data-wow-delay="0.1s"><span class="text-primary">Howdy,</span> I'm
                            <div class="change display-2 wow fadeIn">Carly R. Tesnor</div> 
                            <div class="chang ">a MERN Developer</div>
                            <div class="chan ">a Ruby on Rails Developer</div>
                         </h1>
                          <a><span class="icon ion-ios-play">😁</span> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page2" class="pp-scrollable section section-2">
        <div class="scroll-wrap">
          <div class="scrollable-content">
            <div class="vertical-title text-white  d-none d-lg-block"><span>What I Do</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <h2 class="title mb-5 pb-5"> <span class="text-primary">My</span> specialization</h2>
                      <div class="row-specialization row">
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization"><i class="fas fa-mobile"></i><i class="fas fa-laptop"></i></span>
                          <h4 class="text-uppercase">Mobile Design</h4>
                          <p>Working with client and community, we deliver masterplans that create vibrant new places and spaces, attract people, and encourage investment through.</p>
                        </div>
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization "><i class="fas fa-code"></i></span>
                          <h4 class="text-uppercase">Coding</h4>
                          <p>I like to put ideas into production as small as they may seem. Implement/update/add new features to a project or just refactor for a better architecture and code is a part of my daily life, 
                            a daily life where I can put my skills at the service of a group for better progress.
                           With your great idea and my skills we can work together and make your vision a reality, with a stable and enjoyable app. </br> 
                           If you think we can really work together or if you want to know more about me, get in touch wih me </p>
                        </div>
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization "><i class="fas fa-chart-area"></i></span>
                          <h4 class="text-uppercase">Data Analytics</h4>
                          <p>With a degree in economics and the knowledge of python, i can work with client and community to deliver masterplans that create vibrant new places and spaces, attract people, and encourage investment through.
                          I'm pretty good at data manipulation and repetitive tasks and also for analyzing and exploring data sets.</p>
                        </div>
                      </div>
                      <div class="view-all">
                         <%= link_to 'Download resume', home_download_pdf_url %>
                          
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page3" class="pp-scrollable text-white section section-3">
        <div class="scroll-wrap">
          <div class="section-bg mask" style="background-image:url(images/bg/resume.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-title d-none d-lg-block"><span>Resume</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row row-resume">
                        <div class="col-md-6 fadeY fadeY-1">
                          <h2 class="resume-header title">Education</h2>
                          <div class="col-resume">
                            <div class="resume-content">
                              <div class="resume-inner">
                                <div class="resume-row">
                                  <h6 class="resume-type">Specialization course</h6>
                                  <i class="resume-study">State University of Haiti/ Faculty of Law and Economic Cciences , Haïti, Port-au-Prince<br>Jan 2012 - Dec 2016</i>
                                  <p class="resume-text">Graduate in Economics sciences</p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">Academy course</h6>
                                  <i class="resume-study">Flatiron School Online/Learn.co <br>Aout 2018 - Mai 2019</i>
                                  <p class="resume-text"> Certificate in Full Stack web Developement </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 pt-md-5 mt-md-5 fadeY fadeY-2">
                          <h2 class="resume-header title">Experience</h2>
                          <div class="col-resume">
                            <div class="resume-content">
                              <div class="resume-inner">
                                <div class="resume-row">
                                  <h6 class="resume-type">Software Developer</h6>
                                  <i class="resume-study">Noukòd, Haïti, Pétion-Ville<br>Jan 2018 - Today</i>
                                  <p class="resume-text">Primary tasks are: Implementing practical and designed solutions</p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">WORDPRESS DEVELOPER</h6>
                                  <i class="resume-study">University of studies, Poland, Cracow<br>Jan 2004 - Dec 2006</i>
                                  <p class="resume-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis animi assumenda sint recusandae! Dolor placeat debitis animi illum quo repellendus pariatur, enim</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page4" class="pp-scrollable section section-4">
        <div class="scroll-wrap">
          <div class="section-bg bg-about" style="background-image:url(images/bg/about.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-title text-white  d-none d-lg-block"><span>About Me</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row align-items-center">
                        <div class="col-lg-6 offset-xl-1">
                          <div class="experience-box">
                            <div class="experience-content">
                              <div class="experience-number"><%= Date.today.year - 2017%></div>
                              <div class="experience-info"><div>Years<br>Experience<br>Working</div></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-5 mt-5 mt-xl-0">
                          <h2 class="title"> <span class="text-primary">My</span> Skills</h2>
                          "The meaning of life ; it's progression, you have to try to progress every day." </br>
                           Ali Lungeni Tambwe
                          <div class="progress-bars">
                            <div class="clearfix">
                              <div class="number float-left">Mobile Design</div>
                              <div class="number float-right">50%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Web Developement</div>
                              <div class="number float-right">75%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Mobile Developement</div>
                              <div class="number float-right">55%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Database: MongoDB - SQL</div>
                              <div class="number float-right">65%</div>
                            </div>
                             <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Data Analytics</div>
                              <div class="number float-right">60%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page5" class="pp-scrollable text-white section section-5">
        <div class="scroll-wrap">
          <div class="bg-changer">
            <div class="section-bg" style="background-image:url(images/bg/project1.jpg);"></div>
            <div class="section-bg" style="background-image:url(images/bg/project2.jpg);"></div>
            <div class="section-bg" style="background-image:url(images/bg/project3.jpg);"></div>
            <div class="section-bg" style="background-image:url(images/bg/project4.jpg);"></div>
          </div>
          <div class="scrollable-content">
            <div class="vertical-title  d-none d-lg-block"><span>My Works</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="project-row">
                            <a class="active" href="project-detail.html">
                              <span class="project-number">01</span>
                              <h2 class="project-title">Ted'Actu</h2>
                              <div class="project-category">NewsLetter</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <a href="project-detail.html">
                              <span class="project-number">02</span>
                              <h2 class="project-title">La Chronique</h2>
                              <div class="project-category">NewsLetter</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <a href="project-detail.html">
                              <span class="project-number">03</span>
                              <h2 class="project-title">Brole Mobile App</h2>
                              <div class="project-category">Mobile Design</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <a href="project-detail.html">
                              <span class="project-number">04</span>
                              <h2 class="project-title">Bauhaus Studio</h2>
                              <div class="project-category">House Design</div>
                            </a>
                          </div>
                          <div class="view-all view-all-projects">
                            <a  href="projects.html">
                              View all projects
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page8" class="pp-scrollable section section-8">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/contact.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-title text-white d-none d-lg-block"><span>Contact</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro overflow-hidden">
                      <div class="row">
                        <div class="col-md-6">
                          <h2 class="title"><span class="text-primary">Port-Au-Prince</span>, HAÏTI</h2>
                          <section class="contact-address">
                            <h3><a class="mail" href="mailto:tesnorcarly@gmail.com"> me@tesnorcarly.com</a></h3>
                          </section>
                        </div>
                        <div class="col-md-6">
                          <div class="contact-info">
                           <form action="/direct_messages" method="post" enctype="multipart/form-data" novalidate="novalidate">
                              <div class="row">
                                <div class="form-group col-sm-6">
                                  <input type="text" name="direct_message[name]" required="" placeholder="Name*" aria-required="true">
                                </div>
                                <div class="form-group col-sm-6">
                                  <input type="email" required="" name="direct_message[mail]" placeholder="Email*">
                                </div>
                                <div class="form-group col-sm-12">
                                  <input type="text" name="direct_message[subject]" placeholder="Subject (Optinal)">
                                </div>
                                <div class="form-group col-sm-12">
                                  <textarea name="direct_message[Dm]" required="" placeholder="Message*"></textarea>
                                </div>
                                <div class="form-group form-group-message col-sm-12">
                                  <span id="success" class="text-primary">Thank You, your message is successfully sent!</span>
                                  <span id="error" class="text-primary">Sorry, something went wrong </span>
                                </div>
                                <div class="col-sm-12"><button type="submit" class="btn">Contact me</button></div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <script>

$(document).ready(function() {
    function cycle() {
    $(".chang, .chan").hide();
        $('.change').show();
    
    timer = setTimeout(function () {
        $('.change').hide();
        $('.chang').show();
    }, 2000);
    timer = setTimeout(function () {
        $('.change').hide();
        $('.chang').hide();
        $('.chan').show();
    }, 4000);

        setTimeout(cycle, 6500);
    }

    cycle();
  });
 </script>
    