<% content_for :meta_title, " #{DEFAULT_META["meta_title"]}  | Edit" %>
<% if current_user.try(:admin?)  %>
    <section id="service" class="service-section pt90 pb40">
        <div class="cont">	
            <h1>Editing Post</h1>
        </div>
    </section>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
<%end%>
