
<% content_for :meta_title, " #{DEFAULT_META["meta_title"]}  | Nouvelle Publication" %>

	<section id="service" class="service-section pt90 pb40">
			<div class="cont">				
				<h1>New Post</h1>
			</div>
	</section>

<%= render 'form', post: @post %>



